# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.


# dependencies
/frontend/node_modules
/.pnp
.pnp.js

# testing
/frontend/coverage

# next.js
/frontend/.next/
/backend/build/
.next/

# debug
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

# local env files
/frontend/.env
/frontend/.env*.local
backend/.env

# vercel
/frontend/.vercel

# typescript
/frontend/*.tsbuildinfo
/frontend/next-env.d.ts

# Python
**/__pycache__/
**/*.pyc
**/*.pyo
*.egg-info/
.eggs/
venv/
backend/myenv/
/backend/venv/

# Backend data
backend/chroma_db/
/backend/documents/
backend/services/data_loaders/processed_data/
/backend/reports/
/backend/remittance_summary.json
/backend/transactions_beta.json
/backend/beta/


# Azure
/azure-rg-template/
node_modules
.DS_Store
